.c-button {
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  &--bgBlue {
    background-color: $button-color;
    color: $white-color;
    border: none;
  }
  &--bgWhite {
    background-color: $white-color;
    color: $button-color;
    border: solid 1px $button-color;
  }
  &--bgGray {
    background-color: $gray-color;
    color: $white-color;
    border: none;
  }
}

.c-twitterButton {
  font-size: 2.4rem;
  margin-right: 5px;
}